<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Google Events</title>
  <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="form">
        <h2>Your event can be fetched here.</h2>
        <p>You can <a href="https://calendar.google.com/calendar/u/2/r" target="blank">see it</a> in your Google Calender</p>
      </div>
</body>
</html>